* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.game-container {
    min-width: 544px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.stats {
    color: #ffffff;
    font-size: 16px;
}

.cards-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    width: calc(25% - 5px);
    aspect-ratio: 1;
    background-color: #8234e0;
    border: 2px solid #5a0caf;
    border-radius: 12px;
    background-image: url(./assets/lines.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.revealed {
    background-color: #ffffff;
    border-color: #dadada;
}

.card-emoji {
    font-size: 40px;
    display: none;
}

.revealed .card-emoji {
    display: block;
}

.button {
    width: 100%;
    height: 52px;
    background-color: #8234e9;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #5a0caf;
    margin-top: 32px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #7029d6;
}